extends ./layouts/common

block head
    link(rel="stylesheet" href="/public/css/registration.css")

block content
    form(action="/register" method="POST").bg-white.p-5.shadow-sm
        h1.h1.text-center Đăng kí thi
        if errors && errors.length
            each val in errors
                .alert.alert-danger.mx-5= val
        .row.justify-content-center
            .col-md-8
                .row.mb-2
                    input.form-control(type='text' name="fullname" placeholder="Họ và tên" value=body ? body.fullname : "")
                .row.mb-2
                    .col-md-8.p-0.pe-2
                        input.col-md-6.form-control(type="text" name="idCardNumber" placeholder="CCCD/CMND" value=body ? body.idCardNumber : "")
                    .col-md-4.p-0
                        input.col-md-6.form-control(type="date" name="birthday" placeholder="Ngày sinh" value=body ? body.birthday : "")
                .row.mb-2
                    .col-md-8.p-0.pe-2
                        input.form-control(type="text" name="phone" placeholder="Số điện thoại" value=body ? body.phone : "")
                    .col-md-4.p-0.d-flex.align-items-center
                        .form-check.form-check-inline
                            input.form-check-input(type="radio" id="male" name="gender" value="male")
                            label.form-check-label(for="male") Nam
                        .form-check.form-check-inline
                            input.form-check-input(type="radio" id="female" name="gender" value="female")
                            label.form-check-label(for="female") Nữ
                .row.mb-2
                    input.col-md-6.form-control(type="email" name="email" placeholder="Email" value=body ? body.email : "")

                #accordionSubject.accordion.mb-3
                    .accordion-item
                        h2#headingWord.accordion-header
                            button.accordion-button.collapsed.d-flex.justify-content-between(type='button', data-bs-toggle='collapse', data-bs-target='#collapseWord', aria-expanded='false', aria-controls='collapseWord')
                                img(src="/public/images/word.svg" alt="word" width="38" class="me-2")
                                span.fw-bold Word 2016 Specialist
                                span  878.000đ 
                        #collapseWord.accordion-collapse.collapse(aria-labelledby='headingWord', data-bs-parent='#accordionSubject')
                            .accordion-body
                                | Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                |  class. This is the first item&apos;s accordion body.
                    .accordion-item
                        h2#headingExcel.accordion-header
                            button.accordion-button.excel.collapsed.d-flex.justify-content-between(type='button', data-bs-toggle='collapse', data-bs-target='#collapseExcel', aria-expanded='false', aria-controls='collapseExcel')
                                img(src="/public/images/excel.svg" alt="excel" width="38" class="me-2")
                                span.fw-bold Excel 2016 Specialist
                                span  878.000đ
                        #collapseExcel.accordion-collapse.collapse(aria-labelledby='headingExcel', data-bs-parent='#accordionSubject')
                            .accordion-body
                                | Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                |  class. This is the second item&apos;s accordion body. Let&apos;s imagine this being filled with some actual content.
                    .accordion-item
                        h2#headingPPT.accordion-header
                            button.accordion-button.ppt.collapsed.d-flex.justify-content-between(type='button', data-bs-toggle='collapse', data-bs-target='#collapsePPT', aria-expanded='false', aria-controls='collapsePPT')
                                img(src="/public/images/powerpoint.svg" alt="powerpoint" width="38" class="me-2")
                                span.fw-bold PowerPoint 2016 Specialist
                                span  878.000đ
                        #collapsePPT.accordion-collapse.collapse(aria-labelledby='headingPPT', data-bs-parent='#accordionSubject')
                            .accordion-body
                                | Placeholder content for this accordion, which is intended to demonstrate the 
                                code .accordion-flush
                                |  class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                input.my-2.form-control(type="file" name="bankingImage")
                input.form-control.mb-2.btn.btn-primary(type="submit" value="Đăng ký")
block script
    script(src="/public/js/registration.js")