extends ./layouts/common

block head
    link(rel="stylesheet" href="/public/css/registration.css")
    link(href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet")

block content
    form(action="/registration" name="registration" method="POST" enctype="multipart/form-data").bg-white.p-5.shadow-sm
        h1.h1.text-center.mb-3 Đăng ký thi
        if errors && errors.length
            each val in errors
                .alert.alert-danger.mx-5= val
        .row.justify-content-center
            .col-md-8
                .row.mb-2.mx-2
                    .col.p-0
                        label.form-label.ps-2(for="fullname")
                            span Họ và tên
                            span.text-danger *
                        input.form-control(type='text' name="fullname" id="fullname" placeholder="Họ và tên" value=body ? body.fullname : "")
                .row.mb-2.mx-2
                    .col-md-6.p-0.pe-md-2.pb-md-0.pb-2
                        label.form-label.ps-2(for="idCardNumber")
                            span CCCD/CMND
                            span.text-danger *
                        input.col-md-6.form-control(type="text" name="idCardNumber" id="idCardNumber" placeholder="CCCD/CMND" value=body ? body.idCardNumber : "")
                    .col-md-6.p-0
                        label.form-label.ps-2(for="birthday")
                            span Ngày sinh
                            span.text-danger *
                        input.col-md-6.form-control(type="date" name="birthday" id="birthday" placeholder="Ngày sinh" value=body ? body.birthday : "")
                .row.mb-2.mx-2
                    .col-md-8.p-0.pe-2.mb-2.mb-md-0
                        label.form-label.ps-2(for="phone")
                            span Số điện thoại
                            span.text-danger *
                        input.form-control(type="text" name="phone" id="phone" placeholder="Số điện thoại" value=body ? body.phone : "")
                    .col-md-4.p-0.ps-2
                        label.form-label.mb-3
                            span Giới tính
                            span.text-danger *
                        .d-flex.align-items-center
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="male" name="gender" value="male" checked=body ? (body.gender == "male") : false)
                                label.form-check-label(for="male") Nam
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="female" name="gender" value="female" checked=body ? (body.gender == "female") : false)
                                label.form-check-label(for="female") Nữ
                        #gender-validate.invalid-feedback.d-block
                .row.mb-2.mx-2
                    label.form-label.ps-2(for="email")
                        span Email
                        span.text-danger *
                    input.col-md-6.form-control(type="email" name="email" id="email" placeholder="Email" value=body ? body.email : "")
                label.mx-3.mb-2
                    span Địa chỉ
                    span.text-danger *
                .form-floating.mb-2.mx-2
                    input.form-control(type="text" id="streetNumber" name="streetNumber" placeholder="Số nhà" value=body ? body.streetNumber : "")
                    label(for="streetNumber")
                        span Số nhà, tên đường
                        span.text-danger *
                .row.mb-2.align-items-start.mx-2
                    .col-md-4.px-0.py-md-0.py-2
                        .form-floating
                            select.form-select(id="city" name="city")
                                option(selected value="none") Tỉnh / Thành Phố
                            label(for="city")
                                span Tỉnh/Thành phố
                                span.text-danger *
                    .col-md-4.px-0.px-md-2.py-md-0.py-2
                        .form-floating
                            select.form-select(id="district" name="district")
                                option(selected value="none") Quận / Huyện
                            label(for="district")
                                span Quận/Huyện
                                span.text-danger *
                    .col-md-4.px-0
                        .form-floating
                            select.form-select(id="ward" name="ward")
                                option(selected value="none") Phường / Xã
                            label(for="ward")
                                span Phường/Xã
                                span.text-danger *

                label.form-label.ps-2 Môn thi
                ul.list-group.mb-4
                    li.list-group-item.word.d-flex.justify-content-between.align-items-center
                        img(src="/public/images/word.svg" alt="word" width="38" class="me-2")
                        span.fw-bold Word 2016 Specialist
                        div
                            span.text-danger.text-decoration-line-through 1.000.000đ
                            span  875.000đ
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger -12.5%
                    li.list-group-item.excel.d-flex.justify-content-between.align-items-center
                        img(src="/public/images/excel.svg" alt="excel" width="38" class="me-2")
                        span.fw-bold Excel 2016 Specialist
                        div
                            span.text-danger.text-decoration-line-through 1.000.000đ
                            span  875.000đ
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger -12.5%
                    li.list-group-item.ppt.d-flex.justify-content-between.align-items-center
                        img(src="/public/images/powerpoint.svg" alt="powerpoint" width="38" class="me-2")
                        span.fw-bold PowerPoint 2016 Specialist
                        div
                            span.text-danger.text-decoration-line-through 1.000.000đ
                            span  875.000đ
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger -12.5%

                label(for="registration_table") Lịch Thi
                .mb-3
                    #registration_table.mb-2
                    .row.justify-content-between.mx-2
                        .col-md-8.p-0
                            .h3 Tổng tiền:
                        .col-md-4.p-0
                            .h3.mb-3.text-end#price 0
                    .text-danger * Lịch thi đã đăng ký sẽ không được thay đổi.
                    .text-danger * Giờ thi phải cách nhau một tiếng rưỡi.
                .mb-3
                    label.form-label(for="bankingImage")
                        span Hình ảnh minh chứng chuyển khoản
                        span.text-danger *
                    input.my-2.form-control(type="file" name="bankingImage" id="bankingImage" accept="image/png, image/jpeg, image/jpg")
                    img#image_preview(alt="Hình ảnh chuyển tiền" class="d-none").w-100
                input(type="hidden" name="registrations" id="registrations" value= body ? body.registrations : "")
                input(type="hidden" name="address" id="address" value= body ? body.address : "")
                input.form-control.mb-2.btn.btn-primary(type="submit" value="Đăng ký")
block script
    script(src="/public/js/registration.js")
    script(type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js")